body{
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.game{
    margin-top: 2%;
}
#description{
    text-align: center;
    line-height: 10%;
}
#description h1{
    text-align: center;
    text-shadow: 2px 2px pink;
}
.playerInfo{
    display: table;
    background-color:beige;
    width: 50%;
    height: fit-content;
    border-radius: 10px;
    padding: 10px;
    margin-left:auto; 
    margin-right:auto;
}
#playerScore{
    background-color: pink;
    width: 120px;
    height: 60px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    line-height: 1%;
    padding-top: 1%;
    cursor: alias;
}
#resetButton{
    visibility: visible;
    background-color: pink;
    width: 100px;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    float: right;
    position: relative;
    margin-top: 1.5%;
    cursor: pointer;
    overflow: auto;
    margin-left: 20%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#playerInfos{
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.playArea{
    display: block;
    background-color: #deb887;
    width: 80%;
    height: 450px;
    border-radius: 10px;
    position: relative;
    left: 10%;
    margin-top: 3%;
    text-align: center;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

.guessHistory{
    background-color: aqua;
    bottom: -5%;
    min-height: 50px;
    height: auto;
    width: 50%;
    border-radius: 10px;
    text-align: left;
    padding-left: 3%;
    font-weight: bold;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: .5%;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#interact{
    padding-top: 20%;
    display: block;
}

#askPicture{
    margin-left: 3%;
    color: bisque;
}
#input{
    text-align: center;
    background-color: antiquewhite;
    margin-top: 1%;
    width: 30%;
    height: 30px;
    border-radius: 25px;
    border: none;
    text-align: center;
    color: grey;

}


#check{
    margin-top: 5%;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    background-color: #2ECC71;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border: none;
    cursor: pointer;
}
#interact p{
    color: white;
   text-align: center;
}

#lost{
    background-color:  #deb887;
    width: 80%;
    height: 450px;
    display: none;
    position: relative;
    left: 10%;
    margin-top: 1%;
    text-align: center;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;


}

#loseGame{
    text-align: center;
    display: block;
    position: relative;
    padding-top: 15%;
}
#lost #p1{
    color: rgb(10, 94, 10);
    font-size: medium;
}
#lost #p2, #p3{
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}
#p3 span{
    font-weight: bold;
}

#tryAgain{
    margin-top: 5%;
    margin-bottom: 15%;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    background-color: #2ECC71;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border: none;
    cursor: pointer;
}
#congrats{
    background-color:rgba(138, 204, 138, 0.966);
    width: 80%;
    height: 450px;
    border-radius: 10px;
    position: relative;
    left: 10%;
    margin-top: 2%;
    display: none;
    text-align: center;
    justify-content: center;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}
#winGame{
    padding-top: 10%;
}
#winGame #p2, #p3{
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}
#winGame #p1, #p3{
    font-weight: bold;
    font-size: medium;
}
#playAgain{
    margin-top: 5%;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    background-color: #0c9e49;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border: none;
    cursor: pointer;
}

.guessHistory h4{
    padding-top: 3%;
}

@media screen and (max-device-width: 700px) {
    #playerScore{
        font-size: small;
        line-height: 50%;
        margin-left: 5%;
    }

    #interact{
        padding-top: 50%;
    }

    .playerInfo{
        width: 97%;
        padding-left: 0%;
    }
    #input{
        width: fit-content;
    }
    #askPicture{
        margin-left: 8%;
    }
    #gameTitle{
        font-size: small;
    }
    #gameDescription{
        font-size: small;
    }
}
@media screen and (max-device-width: 650px) {
    #playerScore{
        font-size: small;
        line-height: 50%;
        margin-left: 5%;
    }

    #interact{
        padding-top: 20%;
    }

    .playerInfo{
        width: 97%;
        padding-left: 0%;
    }
    #input{
        width: fit-content;
    }
    #askPicture{
        margin-left: 4%;
    }
    #gameTitle{
        font-size: small;
    }
    #gameDescription{
        font-size: small;
    }
}
@media screen and (max-device-width: 698px) {
    #playerScore{
        font-size: small;
        line-height: 50%;
        margin-left: 5%;
    }

    #interact{
        padding-top: 20%;
    }

    .playerInfo{
        width: 97%;
        padding-left: 0%;
    }
    #input{
        width: fit-content;
    }
    #askPicture{
        margin-left: 4%;
    }
    #gameTitle{
        font-size: small;
    }
    #gameDescription{
        font-size: small;
    }
}
@media screen and (max-device-width: 900px) {
    #playerScore{
        font-size: small;
        line-height: 50%;
        margin-left: 5%;
    }

    #interact{
        padding-top: 20%;
    }

    .playerInfo{
        width: 97%;
        padding-left: 0%;
    }
    #input{
        width: fit-content;
    }
    #askPicture{
        margin-left: 4%;
    }
    #gameTitle{
        font-size: small;
    }
    #gameDescription{
        font-size: small;
    }
}