body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.game{
    margin-top: 2%;
}
#description{
    text-align: center;
    line-height: 10%;
}
#description h1{
    text-shadow: 2px 2px pink;
}
.playerInfo{
    display: table;
    background-color:beige;
    width: 750px;
    height: 650px;
    border-radius: 10px;
    padding: 10px;
}
#playerScore{
    background-color: pink;
    width: 120px;
    height: 60px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    line-height: 1%;
    padding-top: 1%;
    cursor: alias;
}
#resetButton{
    visibility: visible;
    background-color: pink;
    width: 80px;
    height: 40px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    float: right;
    position: relative;
    margin-top: -7%;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.playArea{
    background-color: #deb887;
    width: 600px;
    height: 450px;
    border-radius: 10px;
    position: relative;
    left: 10%;
    margin-top: 3%;
    text-align: center;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}

.guessHistory{
    background-color: aqua;
    bottom: -5%;
    min-height: 50px;
    height: auto;
    width: 400px;
    border-radius: 10px;
    text-align: left;
    padding-left: 3%;
    font-weight: bold;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: .5%;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#interact{
    padding-top: 20%;
    text-align: center;
    display: block;
}

#askPicture{
    height: 60px;
    width: 70px;
    color: bisque;
    margin-left: 5%;

}
#input{
    display: block;
    background-color: antiquewhite;
    margin-top: 5%;
    height: 40px;
    border-radius: 25px;
    border: none;
    text-align: center;
    color: grey;
    margin-left: 38%;
    margin-right: 35%;

}


#check{
    margin-top: 5%;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    background-color: #2ECC71;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border: none;
    cursor: pointer;
}
#interact p{
    color: white;
   text-align: center;
}

#loseGame{
    text-align: center;
    display: none;
    position: relative;
    margin-top: -50%;
}
#loseGame #p1{
    color: rgb(10, 94, 10);
    font-size: medium;
}
#loseGame #p2, #p3{
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}
#p3 span{
    font-weight: bold;
}

#tryAgain{
    margin-top: 5%;
    margin-bottom: 15%;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    background-color: #2ECC71;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border: none;
    cursor: pointer;
}
#congrats{
    background-color:rgba(138, 204, 138, 0.966);
    width: 600px;
    height: 450px;
    border-radius: 10px;
    position: relative;
    left: 10%;
    margin-top: -60%;
    display: none;
    text-align: center;
    justify-content: center;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
}
#winGame{
    padding-top: 10%;
}
#winGame #p2, #p3{
    font-size: small;
    font-family: 'Courier New', Courier, monospace;
}
#winGame #p1, #p3{
    font-weight: bold;
    font-size: medium;
}
#playAgain{
    margin-top: 5%;
    text-align: center;
    border-radius: 10px;
    height: 30px;
    background-color: #0c9e49;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;
    border: none;
    cursor: pointer;
}

.guessHistory h4{
    padding-top: 3%;
}
